    <!--navbar inicio-->
    <nav class=" fondo-oscuro a cabecita navbar navbar-expand-lg navbar-primary bg-light fondo-header" style="--bs-bg-opacity: 0; padding-top: 3%; padding-bottom: 10%;">
        <div class="container-fluid">
          <div style="flex-grow: 0; padding-right: 20px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 cabecita">
              <li>
                <img class="img-logo" src="white_logo.png" alt="">
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page">
                <a routerLink="/" routerLinkActive ariaCurrentWhenActive="page"> Inicio</a>
              </a>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page">
                <a routerLink="/result" routerLinkActive="active" ariaCurrentWhenActive="page"> Resultados</a>
              </a>
              </li>
              <li class="nav-item" style="padding: 1px;">
                  <a class="nav-link active" aria-current="page" >
                  <a routerLink="/carreras" routerLinkActive="active" ariaCurrentWhenActive="page"> Carreras</a>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page">
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a>
                </a>
              </li>
              <li class="nav-item sesionFloat">
                <a class="nav-link active" aria-current="page">
                <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Iniciar Sesión</a>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <!--navbar fin--> 
