<div class="container">
    <h1 class="title">Título de Carrera</h1>
    <img src="recorrido1.png" alt="Mapa de la carrera" class="map-image">
    <p class="description">
        La carrera comienza en Con-Con, pasando por la costa hasta viña del mar. La media vuelta termina en kilómeto 21. La carrera consta de 2 vueltas con un total de 42km de recorrido
    </p>
    <button class="enroll-button" (click)="enroll()">Inscribir</button>
</div>
<div class="container">
    <h1 class="title">Título de Carrera</h1>
    <img src="" alt="Mapa de la carrera" class="map-image">
    <p class="description">
        Esta es una breve descripción de la carrera. Aquí puedes incluir detalles sobre los objetivos, las materias y las oportunidades laborales.
    </p>
    <button class="enroll-button" (click)="enroll()">Inscribir</button>
</div>
<div class="container">
    <h1 class="title">Título de Carrera</h1>
    <img src="mapa.jpg" alt="Mapa de la carrera" class="map-image">
    <p class="description">
        Esta es una breve descripción de la carrera. Aquí puedes incluir detalles sobre los objetivos, las materias y las oportunidades laborales.
    </p>
    <button class="enroll-button" (click)="enroll()">Inscribir</button>
</div>
