
<div class="container">
    <h1 class="title">Viña del Mar</h1>
    <img src="recorrido1.png" alt="Mapa de la carrera" class="map-image">
    <p class="description">
        La carrera comienza en Con-Con, pasando por la costa hasta viña del mar. La media vuelta termina en kilómeto 21. La carrera consta de 2 vueltas con un total de 42km de recorrido
    </p>
    <button class="enroll-button" (click)="enroll()">Inscribir</button>
</div>


<div class="container">
    <h1 class="title">Santiago Chile</h1>
    <img src="recorrido2.jpg" alt="Mapa de la carrera" class="map-image">
    <p class="description">
    </p>22/11/2024
    <button class="enroll-button" (click)="enroll()">Inscribir</button>
</div>  

<div class="container">
    <h1 class="title">Santiago Chile</h1>
    <img src="recorrido3.png" alt="Mapa de la carrera" class="map-image">
    <p class="description">
    </p>14/12/2024
    <button class="enroll-button" (click)="enroll()">Inscribir</button>
</div>
