<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class="fondo-oscuro">
    <!--navbar inicio-->
    <nav class="navbar navbar-expand-lg navbar-primary bg-light fondo-header" style="--bs-bg-opacity: 0">
        <div class="container-fluid" >
          <div style="flex-grow: 0; padding-right: 20px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" >
                    <li>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link active" aria-current="page" href="">Inicio</a>
                    </li>
                    <li class="nav-item" style="padding: 1px;">
                        <a class="nav-link active" aria-current="page" href="">Resultados</a>
                    </li>
                    <li class="nav-item" style="padding: 1px;">
                      <a class="nav-link active" aria-current="page" href="">Carreras</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Contacto</a>
                    </li>
                    <li class="nav-item sesionFloat"  >
                      <a class="nav-link active" aria-current="page" href="">Iniciar Sesion</a>
                    </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--navbar FIN-->
    <!--INICIO BODY-->
      <img src="logo.jpg" alt="">
    <!--FIN BODY-->
    <!--INICIO FOOTER--> 
      <a href="./logo.jpg">.</a>
      <footer class="footer">
        <div class="cotainer">
          <div class="top-section">
            <a href="https://www.google.com/" class="logo-link">
              <img src="" alt="" class="logo-image">
              <span class="company-name">Marathon Plus</span>
            </a>
            <div class="icon-links">
              <a href="https://www.instagram.com/cvalverd86" class="instagram-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
                  <span>instagram</span>
                </a>
                <a href="https://www.facebook.com" class="Facebook-link" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                  </svg>
                    <span>Facebook</span>
                </a>
                <a href="mailto:ve.cabezas@duocuc.cl" class="gmail-link" target="_blank"> <!--abre una nueva ventana con aplicacion de gmail si tiene configurada-->
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 4H2v16h20V4zM4 8V6l8 5 8-5v2l-8 5-8-5z"></path>
                 </svg>
                    <span>Gmail</span>
                </a>
            </div>
            <ul class="navigation">
              <li><a href="#">¿Quiénes Somos?</a></li>
              <li><a href="#">Política de Privacidad</a></li>
              <li><a href="#">Contáctanos</a></li>
            </ul>
          </div>
          <hr class="divider" />
          <ul class="navigation">
            <div class="Volver3">
            </div>
          </ul>
        </div>
      </footer>
    <!--FIN FOOTER--> 
      
</body>
</html>