:root{
    --color-acento: #ee6130;
    --color-acento-claro: #ee613033;
    --color-texto: black;
  }
  
  body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
  }
  
  h3, p{
    margin: 5px;
  }
  
  .escondido{
    display: none;
  }
  
  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color: var(--color-texto);
    
  }
  
  button{
    transition: 200ms;
    
  }
  
  a:hover:not(#cart), button:hover{
    color: var(--color-acento);
    
  }
  
  /* Header */
  header{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    font-size: larger;
    
  }
  
  header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    
  }
  
  #logo{
    height: 40px;
    margin: 20px;
    
  }
  
  header nav div{
    display: flex;
    align-items: center;
    gap: 40px;
    
  }
  
  header nav img{
    height: 25px;
  }



.fondo-oscuro {
    background: radial-gradient(circle, #51a6fa,#5badff,#127ce7, #0066cc); /* Gradiente desde #faa922 a #ff7e5f */
}


.fondo-header{
  background-color: #ee6130;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #fff;
  display: flex;
  justify-content: center;
  zoom: 2.3;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-link.active{
  padding: 0px,0px;
  height: 21px;
}

footer{
  text-align: center;
  box-shadow: -1px -3px 5px rgba(0, 0, 0, 0.09);
  padding-top: 2px;
  margin-top: auto;
}

footer a{
  text-decoration: underline;
}
.footer {
  border-radius: 0.5rem;
  background-color: #024385;
  color: white;
  opacity: 0.9;
  margin: 16px;
  margin-top: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
min-height: 380px;
  font-family: sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 16px;
  padding-top: 32px;
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
margin-top: 5%;
}

.logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.logo-image {
  height: 120px; /* 72 es igual al tamaño 'h-18' porcia */
  margin-right: 12px;
  border-radius: 1rem;
}

.company-name {
  /*font-size: 24px;
font-family: sans-serif*/ /*fuente muy seria pa esta parte*/
font-family: 'Pacifico', cursive; /* fuente entrete*/
  font-size: 32px; /* agrandar */
  color: #e91e63; /* rosa *-* */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /*sobra, si no no se lee tan bien*/
  transition: all 0.3s ease; /* transición leve */
}

.company-name {
transform: scale(1.1); /* agrandamos fuente en el ohver */
  color: #6a94f0; /* cambia el color en hover*/
}
.company-name {
  text-shadow: 0 0 8px rgba(53, 140, 255, 0.8); /* Pink glow */
}

.logo-link:hover .company-name {
  transform: scale(1.1); /* agrandar letra cuanno hacemos hover */
  color: #FF4500; /* Cambio colo en el hover */
}

.icon-links {
  display: flex;
  gap: 24px;
  margin-top: 0;
}

.icon-links a {
  color: #d1d5db;
}

.icon-links a:hover {
  color: #ff8000;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #bcbcbc;
  list-style: none;
  padding: 0;
margin-top: 2%;

}

.navigation li {
  margin-right: 24px;
}

.navigation a:hover {
  text-decoration: underline;
}

.divider {
  border-color: #d1d5db;
  margin: 24px 0;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

a {
  color: inherit; /* se hereda el colo blanco del padre */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Fin configuración Footer*/