
  body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
  }
  
  h3, p{
    margin: 5px;
  }

  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color: var(--color-texto);
    
  }
  
  button{
    transition: 200ms;
    
  }
  
  a:hover:not(#cart), button:hover{
    color: var(--color-acento);
    
  }
  
  /* Header */
  header{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    font-size: larger;
    
  }
  
  header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    
  }
  
  header nav div{
    display: flex;
    align-items: center;
    gap: 40px;
    
  }
  
  header nav img{
    height: 25px;
  }



.fondo-oscuro {
    background: radial-gradient(circle, #51a6fa,#5badff,#127ce7, #0066cc); /* Gradiente desde #faa922 a #ff7e5f */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #fff;
  justify-content: center;
  zoom: 2.3;
  position: relative;
}


.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-link.active{
  padding: 0px,0px;
  height: 21px;
}

a {
  color: inherit; /* se hereda el colo blanco del padre */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Fin configuración Footer*/

.img-logo{
  width: 80px;
  height: auto;
  position: relative;
  z-index: 2; /* texto por encima */
  color: white; /* ajusta según el contraste necesario */
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.reditfoot{
  background-color: rgba(94, 110, 255, 0.1); /* gris con 50% de opacidad */  
  border-radius: 10%;
  position: relative;
  z-index: 2; /* texto por encima */
  color: white; /* ajusta según el contraste necesario */
  
}

.backgroundpic{
  display: flex;
  position: absolute;
  opacity: 0.7; /* para hacerla más tenue */
  overflow: hidden; /* oculta las barras de desplazamiento */
}

html, body{
  overflow-x:hidden ;
  margin: 0;
  padding: 0;
}

.titleM{
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: white;
  z-index: 2; /* texto por encima */
  position: relative;
  zoom: 600%;
  padding-bottom: 7% ;

}